.u-section-1 {
  min-height: 1353px;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  width: calc(((100% - 1140px) / 2) + 636px);
  left: 0;
  right: auto;
}

.u-section-1 .u-image-1 {
  width: 668px;
  height: 487px;
  margin: 324px calc(((100% - 1140px) / 2) + -23px) 0 auto;
}

.u-section-1 .u-group-1 {
  width: 514px;
  min-height: 1280px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -774px auto 37px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px 30px 40px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 4px 5px 0;
}

.u-section-1 .u-form-1 {
  height: 371px;
  width: 422px;
  margin: 61px auto 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-form-group-5 {
  width: 100%;
}

.u-section-1 .u-form-group-6 {
  width: 100%;
}

.u-section-1 .u-form-group-7 {
  width: 100%;
}

.u-section-1 .u-form-group-8 {
  width: 100%;
}

.u-section-1 .u-form-group-9 {
  width: 100%;
}

.u-section-1 .u-form-group-10 {
  width: 100%;
}

.u-section-1 .u-form-group-11 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 594px);
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 510px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -239px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 575px);
  }

  .u-section-1 .u-image-1 {
    width: 643px;
    height: 429px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -158px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 946px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 360px);
  }

  .u-section-1 .u-image-1 {
    width: 494px;
    height: 329px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -58px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 929px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 284px);
    height: 929px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-top: 8592px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 36px;
    margin-left: auto;
    margin-bottom: 51px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}.u-section-2 {
  min-height: 717px;
}

.u-section-2 .u-shape-1 {
  background-image: none;
  width: calc(((100% - 1140px) / 2) + 636px);
  left: 0;
  right: auto;
}

.u-section-2 .u-image-1 {
  width: 698px;
  height: 390px;
  margin: 248px calc(((100% - 1140px) / 2) + -36px) 0 auto;
}

.u-section-2 .u-group-1 {
  width: 514px;
  min-height: 646px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -603px auto 35px calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px 22px 40px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 4px 5px 0;
}

.u-section-2 .u-form-1 {
  height: 371px;
  width: 422px;
  margin: 61px auto 0;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-form-group-2 {
  width: 100%;
}

.u-section-2 .u-form-group-3 {
  width: 100%;
}

.u-section-2 .u-form-group-4 {
  width: 100%;
}

.u-section-2 .u-form-group-5 {
  width: 100%;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 594px);
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 510px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-top: -239px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 575px);
  }

  .u-section-2 .u-image-1 {
    width: 643px;
    height: 429px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-top: -158px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 629px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 360px);
  }

  .u-section-2 .u-image-1 {
    width: 494px;
    height: 329px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-top: -58px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 517px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 284px);
    height: 929px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-top: 4887px;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -403px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    width: 320px;
  }
}.u-section-3 {
  min-height: 621px;
}

.u-section-3 .u-shape-1 {
  background-image: none;
  width: calc(((100% - 1140px) / 2) + 636px);
  left: 0;
  right: auto;
}

.u-section-3 .u-image-1 {
  width: 606px;
  height: 330px;
  margin: 36px calc(((100% - 1140px) / 2) + -36px) 0 auto;
}

.u-section-3 .u-group-1 {
  width: 514px;
  min-height: 550px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -440px auto -74px calc(((100% - 1140px) / 2));
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px 22px 40px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 4px 5px 0;
}

.u-section-3 .u-form-1 {
  height: 371px;
  width: 422px;
  margin: 61px auto 0;
}

.u-section-3 .u-form-group-1 {
  width: 100%;
}

.u-section-3 .u-form-group-2 {
  width: 100%;
}

.u-section-3 .u-form-group-3 {
  width: 100%;
}

.u-section-3 .u-form-group-4 {
  width: 100%;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 594px);
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 510px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 575px);
  }

  .u-section-3 .u-image-1 {
    width: 643px;
    height: 429px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 585px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 360px);
  }

  .u-section-3 .u-image-1 {
    width: 494px;
    height: 329px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-group-1 {
    margin-top: -404px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 476px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 284px);
    height: 929px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -295px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    width: 320px;
  }
}.u-section-4 {
  min-height: 519px;
}

.u-section-4 .u-shape-1 {
  background-image: none;
  width: calc(((100% - 1140px) / 2) + 636px);
  left: 0;
  right: auto;
}

.u-section-4 .u-image-1 {
  width: 606px;
  height: 330px;
  margin: 48px calc(((100% - 1140px) / 2) + -36px) 0 auto;
}

.u-section-4 .u-group-1 {
  width: 514px;
  min-height: 450px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -343px auto 35px calc(((100% - 1140px) / 2));
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px 22px 40px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 4px 5px 0;
}

.u-section-4 .u-form-1 {
  height: 371px;
  width: 422px;
  margin: 61px auto 0;
}

.u-section-4 .u-form-group-1 {
  width: 100%;
}

.u-section-4 .u-form-group-2 {
  width: 100%;
}

.u-section-4 .u-form-group-3 {
  width: 100%;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 594px);
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 510px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 575px);
  }

  .u-section-4 .u-image-1 {
    width: 643px;
    height: 429px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 483px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 360px);
  }

  .u-section-4 .u-image-1 {
    width: 494px;
    height: 329px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-top: -307px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 374px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 284px);
    height: 929px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-top: 5804px;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: -198px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-form-1 {
    width: 320px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 158px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: solid;
  margin: 58px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    padding: 6px 24px 7px 23px;
  }
}