<!DOCTYPE html>
<html>

<head>

</head>

<body>
{% if not message %}
	<a href="/customerlogin">Customer Login</a> <!-- made page -->
    <a href="/newcustomer">Customer Register</a> <!-- made page -->
    
    <a href="/bookingagentlogin">Booking Agent Login</a> <!-- made page -->
    <a href="/newagent">Booking Agent Register</a> <!-- made page -->

    <a href="/airlinestafflogin">Airline Staff Login</a> <!-- made page -->
    <a href="/newairlinestaff">Airline Staff Register</a> <!-- made page -->
{% endif %}
</body>

</html>